.objtable{
    border-collapse: collapse;
    background-color: rgba(23, 193, 88, 0.421); 

    & th{
        border: 1px solid gray;
    } 

    & td{
        border: 1px solid gray;
        padding: .3em;
    }
    
    & tbody > tr:hover{
     background-color: aqua;
    }
}